.sec1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 96%;
  box-sizing: content-box;
  margin-bottom: 2rem;
  padding-bottom: 0rem;

  @media (max-height: 615px) {
    padding-bottom: 20rem; // Adjust the padding value as needed
  }

  &::before {
    content: "";
    background-color: #120078;
    width: 70%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .sec1-cont {
    display: flex;
    position: relative;
    // background-color: aqua;
    height: 100%;
    width: 100%;

    .sec1-img {
      height: 100%;
      width: 10rem;
      // background-color: brown;
      flex: 1;
      display: flex;
      // align-items: center;
      position: relative;
      // left: 72rem;
      width: 50%;
    }

    img {
      position: absolute;
      width: 90rem;
      height: 59.9rem;
      right: 0;
    }

    .sec1-text-wrap {
      width: 50%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      position: relative;
      left: 20rem;
      line-height: 1.2;
      // padding: 0 4rem;
      // background-color: chartreuse;

      .title {
        font-family: "Oswald", sans-serif, sans-serif;
        width: 60rem;
        text-align: left;
        font-size: 8rem;
        padding: 0 5rem;
        padding-top: 10rem;
        // padding-bottom: 5rem;
        // padding-right: 2rem;
        color: white;
        font-weight: 500;

        @media (min-height: 620px) {
          // padding-bottom: 20rem; // Adjust the padding value as needed
          padding: 0 3rem;
          // padding-top: -13rem;
        }
      }

      .btn-wrap {
        display: flex;
        width: 100%;
        align-items: flex-start;
        gap: 1rem;
        padding-top: 5rem;
        padding-left: 1.7rem;

        .btn {
          font-size: 1.7rem;
          color: white;
          padding: 1.5rem 3rem;
          border: 1px solid white;
          border-radius: 4px;
        }

        .btn1 {
          background-color: white;
          text-align: center;
          color: #120078;

          &:hover {
            background-color: transparent;
            color: white;
            cursor: pointer;
          }
        }

        .btn2 {
          text-align: center;
        }

        .btn2:hover {
          background-color: white;
          color: #120078;
          cursor: pointer;
        }
      }
    }
  }
}
