.sec1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 96%;
  box-sizing: content-box;
  margin-bottom: 2rem;
  padding-bottom: 0rem;

  @media (max-height: 615px) {
    padding-bottom: 20rem; // Adjust the padding value as needed
  }

  &::before {
    content: "";
    background-color: #120078;
    width: 70%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .sec1-cont {
    display: flex;
    position: relative;
    // background-color: aqua;
    height: 100%;
    width: 100%;

    .sec1-img {
      height: 100%;
      width: 10rem;
      // background-color: brown;
      flex: 1;
      display: flex;
      // align-items: center;
      position: relative;
      // left: 72rem;
      width: 50%;
    }

    img {
      position: absolute;
      width: 90rem;
      height: 59.9rem;
      right: 0;
    }

    .sec1-text-wrap {
      width: 50%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      position: relative;
      left: 16rem;
      line-height: 1.2;
      // background-color: chartreuse;

      .title {
        text-align: left;
        font-size: 7rem;
        padding: 0 1rem;
        padding-top: 10rem;
        padding-bottom: 5rem;
        // padding-right: 2rem;
        color: white;
        font-weight: 600;
      }
    }
  }
}
